@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import 'tailwindcss';

@import '../src/componens/inputs/auth-input/auth-input.css';
@import '../src/componens/buttons/submit-button/submit-button.css';

@theme {
  --color-yt-ish: hsl(0, 0%, 95%);
  --color-blk-ish: hsl(0, 0%, 9%);

  --font-roboto: 'Roboto', 'Arial', sans-serif;
}

@layer base {
  html {
    font-family: var(--font-roboto);
  }
}

@utility flex-center {
  @apply flex justify-center items-center;
}

@utility label-style {
  @apply text-sm/6 font-medium text-stone-700;
}

@utility icon-style {
  @apply size-6 w-8;
}

@utility icon-wrapper-style {
  @apply flex-center flex-col max-w-20.5 w-full p-2 hover:bg-stone-800;
}

@utility auth-form-style {
  @apply flex max-w-[17.5em] flex-1 flex-col justify-center py-12;
}

@utility auth-form-h1-style {
  @apply mb-10 text-center text-2xl/9 font-bold text-sky-800;
}

@utility auth-form-p-style {
  @apply mt-10 text-center text-sm/6 text-gray-500;
}

@utility auth-form-link-style {
  @apply font-semibold text-sky-600;
}

@utility responsive-p-style {
  @apply text-[min(5vw,1rem)];
}

@utility error-msg {
  @apply text-sm/6 text-red-400;
}

body {
  @apply bg-[var(--color-blk-ish)];
}
