@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&display=swap');

@import 'tailwindcss';

@import '../src/styles/layer-base.css';
@import '../src/styles/layer-utilities.css';
@import '../src/styles/utility.css';

@import '../src/componens/inputs/auth-input/auth-input.css';
@import '../src/componens/buttons/submit-button/submit-button.css';

@theme {
  --color-yt-ish: hsl(0, 0%, 95%);
  --color-blk-ish: hsl(0, 0%, 9%);

  --font-roboto: 'Roboto', 'Arial', sans-serif;
  --font-palanquin: 'Palanquin', 'Arial', sans-serif;
}

body {
  @apply bg-[var(--color-blk-ish)];
}
