CLIENT_URL=http://localhost:5173                  # URL for frontend app

JWT_ACCESS_SECRET=<your-jwt-access-secret>        # Unique secret for access token signing
JWT_REFRESH_SECRET=<your-jwt-refresh-secret>      # Unique secret for refresh token signing

ACCESS_TOKEN_COOKIE=accessToken                   # Cookie name for storing access token
REFRESH_TOKEN_COOKIE=refreshToken                 # Cookie name for storing refresh token

DB_NAME=<your-database-name>                      # Database name
DB_HOST=localhost                                 # Database host (localhost for dev)
DB_PASSWORD=<your-database-password>              # Database password
DB_USER=<your-database-username>                  # Database username
DB_PORT=5432                                      # Default port for PostgreSQL

REDIS_URL=redis://127.0.0.1:6379                  # URL for Redis server
